.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name ryu
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          = link_to  class: "/groups/new" do
            %i.fa.fa-edit
        %li.side-header__box__menu__edit-user
          = link_to  class: "/users/edit" do
            %i.fa.fa-cog
  .groups
    = link_to  class: "/groups/messages" do
      .group
        %p.group__group-name sampleグループ
        %p.group__latest-message ど
.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        sampleグループ
      %ul.main-header__left-box__member-list
        Member：
        %li.main-header__left-box__member-list__member ryu
    = link_to  class: "/groups/edit" do
      .main-header__edit-btn Edit
  .messages
    = render partial: "messages/message", locals: { message: @message }
  .form
    %form#new_message.new_message{"accept-charset" => "UTF-8"}
      .input-box
        %input#message_content.input-box__text{:placeholder => "type a message", :type => "text"}/
        %label.input-box__image
          %i.fa.fa-image
          %input#message_image.input-box__image__file
      %input.submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
